.titre {background-color:#DBDFDA;border-bottom-color:#8FA8BA;border-bottom-style:solid;border-bottom-width:1px;height:20px;width:100%;}
.navtext { width:0px; font:bold 8pt; border-width:2px; border-style:outset; border-color:#006BAE; z-index:10000; background-color:#FFF6D9; color:black; }
