/* Global */
body{font-family:Arial; color:#666666; font-size:12px; background:transparent url('../images/site/fond_site.gif') repeat-x scroll center bottom;}
h1{color:#B73901; font-size:13px; font-weight:bold; margin-bottom:2px;}
h2{font-size:12px; font-weight:bold; margin-bottom:5px; margin-top:0px;}
img{border:none;}
input{border:1px solid #999999; border-collapse:collapse;padding-left:2px;}
input.bouton{	font-size: 8pt;	color:#5f5f5f;  background-color:#f0f0f0;  border:1px solid #afafaf; cursor:pointer; padding:1px;}
select{color:#666666;font-size:11px;}

p{margin-top:0px; margin-bottom:2px}
a{color:#0058A5; text-decoration:none;}
a:hover{color:#D44100; text-decoration:none;}
a:visited{color:#0058A5; text-decoration:none;}

/* Conteneur site */
#site_web_wrapper {border:1px solid #A0A0A0}
.siteWeb {background-color:#FFFFFF; float:left}
.siteWeb table.site {width:100%;padding:0px;}
.siteWeb div#colGaucheInner {vertical-align:top; padding-top:5px; border-left:1px solid #E5E5E5;background-color:#EFEFEF}
.site
.siteWeb div#colMilieuInner {vertical-align:top; padding-top:5px; border-left:1px solid #E5E5E5;}
.siteWeb div#colDroiteInner {vertical-align:top; padding-top:5px;}
.siteWeb div#colContenuInner {vertical-align:top; padding-top:5px;}
.siteWeb td.barre_nav {height:40px; vertical-align:top}

#site_web_content {float:left; width: 100%}
#right_col_color {float:left; width: 100%}

/* Eléments qui sont redimensionnés en fonction de leur conteneur  */
.auto_resize img, .auto_resize object, .auto_resize embed {display:none;}

/* Footer */
.footer{width:1000px; min-height:40px; padding-top:5px}
.footer .credit {color:#575757; font-size:8pt; border-top:1px solid #a0a0a0;}
.footer a{color:#C80A1E;font-size:9pt;}

/* Boite de contenu */
.greenBox{border:none;width:100%;}
.greenBox table{width:100%;border:none;}
.greenBox td{border:none;}
.greenBox select {border:1px solid #999999;border-collapse:collapse;padding-left:2px;}


/* Menu horizontal */
#menu_horizontal * {
	padding: 0px;
	margin: 0px;
}

#menu_horizontal {
	background: transparent url(../images/fond_titre.gif) repeat-x;
	height: 30px;
	cursor: pointer;

	color: white;
	font-size:13px;
	font-family:Verdana;
	font-weight: bold;

	text-align: center;
	float: left;
	width: 100%;
	padding-top: 10px;
	white-space:nowrap;
}

#menu_horizontal img
{
	display: inline;
	height: 16px;
	width: 16px;
	margin-right: 5px;
	margin-bottom: -3px;
}

#menu_horizontal a
{
	text-decoration:none;
	color:white;
}

#menu_horizontal ul
{
	margin: 0 auto;
}

#menu_horizontal li
{
	padding: 0px 10px 0px 10px;
	vertical-align: middle;
	list-style: none;
	position: relative;
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

#menu_horizontal ul li
{
	padding-bottom: 10px;
}

#menu_horizontal ul li ul
{
	border: 1px solid #B0BEC7;
	background-color: #FFFFFF;
	display: none;
	position: absolute;
	top: 1.5em;
	_width: 10em; /* IE6 seulement */
	left: 2.5em;
	padding: 2px;
	z-index: 10;
}

#menu_horizontal ul li ul li {
	color: #0058A5;
	height: 22px;
	padding: 2px;
	text-align: left;
	display: block;
	font-weight: normal;
	white-space:nowrap;
}

#menu_horizontal ul li ul li a
{
	color: #0058A5;
}

#menu_horizontal ul li.over ul {
	display: block;
}

#menu_horizontal ul li ul li:hover {
	background-color: #B0BEC7;
}

/* Menu Gauche */
.menuGauche{background-color:#FFFFFF;}
.menuGauche ul{padding:3px 3px 3px 0pt;margin:0pt 0pt 0pt 10px; list-style-image: url(../images/blank.gif);}
.menuGauche li{color:#D44100;font-size:11px;  vertical-align:top;cursor:pointer}
.menuGauche li a:hover{background-color:#78AEFF;}
.menuGauche img{margin-right:5px; margin-bottom: -3px;}
.menuGauche a{color:#0058A5; text-decoration:none;}
.menuGauche a:hover{color:#FFFFFF;text-decoration:none;}
.menuGauche a:visited{color:#D44100;text-decoration:none;}

/* Boite de la division gauche */
.boiteGauche{background-color:#FFFFFF; margin-bottom: 5px;}
.boiteGaucheInner{border:1px solid #B0BEC7;}
.boiteGauche h2 {font-weight:normal;padding-top:3px;}
.boiteGauche h1 {margin-top:0px;white-space:nowrap}
.boiteGauche div.titre {
		width:100%;
		background:transparent url(../images/box/menu/titre.jpg) repeat-x scroll center;
		border-bottom:1px solid #93A6B4;
		color:#003687;font-size:12px;
		font-decoration:none; 
		font-weight:normal;
		height:15px;
		max-height:15px;
		padding: 2px 0px 2px 5px;}

.boiteGauche .contenu {
		padding: 5px}


/* Boite de la division du milieu */
.boiteMilieu{background-color:#FFFFFF; margin-top: 10px; width:100%; border:1px solid #B0BEC7;}
.boiteGauche .rss, .boiteMilieu .rss{float:right; position: relative; top:-17px; right:10px }
.boiteMilieuInner {width:100%}
.boiteMilieu h2 {font-weight:normal;padding-top:3px;}
.boiteMilieu div.titreInner {padding:0px 0px 0px 5px}
.boiteMilieu h1{color:#666666; font-size:16px; font-weight:bold; margin:0px;white-space:nowrap}


/* Boite de la division droite */
.boiteDroite{background-color:#FFFFFF;}
.boiteDroite h2 {font-weight:normal;padding-top:3px;}

/* Abonnés */
.abonneTitre {background-color:#D7E1E7;text-align:left;font-size:11pt;color:#007CA5;font-weight:bold;padding:7px}
.abonneCadre{background-color:#F4F8FB;border:1px solid #007CA5;}
.abonne {text-align:center;color:#003687;}
.abonneFiche {text-align:center;font-size:10pt;padding:5px}

/* Form */ 
.form{}
.form td.masque{text-align:right;font-size:8pt}
.form td.saisie{text-align:left;font-size:8pt}
.submit {background:transparent url(../images/bouton/btn_ok.gif) no-repeat scroll 0 0;border:0 none;cursor:pointer;height:18px;width:18px;}

/* Tableau de liste */
.listeTitre{border-bottom:1px solid #CACFD5;border-top:1px solid #CACFD5;color:#666666;font-weight:bold;}
.listePaire{background-color:#F4F4EF;}
.listeImpaire{background-color:#FFFFFF;}

/* Barre de nav */
.barre_nav{width:100%;}
.barre_nav span{font-size:10px;color:#666666;padding:1px;}
.barre_nav a {font-size:10px;color:#D44100;}
.barre_nav a:hover {font-size:10px;color:#D44100;text-decoration:none;}
.barre_nav a:visited {}

/* Calendrier  A SIMPLIFIER */
iframe.calendar{width:100%;height:300px;}
table.calendar_main {font-family: Verdana;font-size: 10px; margin: 0 auto;}
.calendar_title td{color: #000000;text-align:center;}
.calendar_title_month_clickable {color: #D44100;text-decoration: none;font-weight:bold;font-size:12px;}
.calendar_table {border: none;	font-size: 10px;}
.calendar_table td {text-align: center;}
.calendar_table th {background-color: #FFFFFF;text-align: center;color:#666666;}
.calendar_weekend {background-color: #FFFFFF;}
.calendar_other_month {color: #FFFFFF;}
.calendar_other_month_clickable {color: #FFFFFF;text-decoration: none;}
.calendar_non_clickable {color: #666666;}
.calendar_today_clickable {text-decoration: none;font-weight:bold;}
.day_clickable {color: #D44100;text-decoration: none;}
.calendar_day_non_clickable {color: #666666;text-decoration: none;}
.day {font-weight:bold;}

/* Error */
.error {color:red;font-weight:bold;}


/* Boites bannière*/
div#header {
		overflow: hidden;
}

div#banniere {
		position:absolute;
		overflow: hidden;
}

div#header .boiteBanniereGauche {
		left: 0px;
		font-weight: bold;
		width: 0px;
		position: relative;
		height:100%;
		display:table;
}

div#header .boiteBanniereGauche h2 {
		margin-bottom: 0px;
}


div#header .boiteBanniereGaucheInner {
		display: table-cell;
		vertical-align: middle;
		padding-left: 15px;
}

div#header .boiteBanniereGaucheInner form {
		width: 400px
}


div#header .boiteBanniereDroite {
		padding: 0px;
		font-weight: bold;
		width: 200px;
		right: 0px;
		overflow: hidden;
		height:100%;
		display:table;
}

div#header .boiteBanniereDroiteInner {
		display: table-cell;
		vertical-align: middle;
		padding-right: 15px;
}


#open_accessibility {
		top:5px;
}