<settings>
  <Settings>
    <settingsXML value="settings.xml"/>
  </Settings>
  <General_Properties>
	<showAbout value="true"/>
	<pozY value="0"/>
    <width value="760"/>
    <height value="550"/>
    <images value="images.xml"/>
    <backgroundColor value="0xffffff"/>
    <backgroundAlpha value="0"/>
    <backgroundImage value=""/>
  </General_Properties>
  <Image_Properties>
    <backColor value="13421772"/>
    <preloader value="assets/redsquares.swf"/>
    <pageClick value="url"/>
	<zoomPercent value="300"/>
  </Image_Properties>
  <Sound_Properties>
    <startSound value="assets/sounds/flipStart.mp3"/>
    <stopSound value="assets/sounds/flipEnd.mp3"/>
    <volume value="50"/>
  </Sound_Properties>
  <Play_Properties>
    <autoPlay value="false"/>
    <slideshowTime value="3"/>
  </Play_Properties>
  <Cotrol_Bar_Skin>
    <skin value="assets/skins/skin3.xml"/>
    <pozX value="250"/>
    <pozY value="570"/>
  </Cotrol_Bar_Skin>
  <Animation_Properties>
    <dragTweenTime value="0"/>
    <tweenMethod value="circ"/>
    <tweenFunction value="easeout"/>
    <tweenTime value="1.2"/>
    <pixelBind value="45"/>
    <shadowColor value="0"/>
    <shadowAlpha value="60"/>
	<shadowSpread value="200"/>
    <pageGradColor value="0"/>
    <pageGradSpread value="15"/>
	<autoHook value="true"/>
    <pageGradAlpha value="64"/>
    <flipAngle value="30"/>
    <movePage value="click"/>
	<startHookSize value="40"/>
  </Animation_Properties>
  <Text_Properties>
    <slide value="true"/>
    <appear value="right"/>
    <alpha value="true"/>
    <blur value="true"/>
    <tweenMethod value="elastic"/>
    <tweenFunction value="easeout"/>
    <duration value="0"/>
    <delay value="0"/>
    <show value="true"/>
    <style value="assets/css/style2.css"/>
    <embedFont value="false"/>
    <width value="70"/>
    <hPos value="center"/>
    <vPos value="bottom"/>
    <textBoxPadding value="0"/>
    <backgrounColor value="0"/>
    <backgroundAlpha value="0.5"/>
    <borderColor value="16777215"/>
    <borderAlpha value="0.6"/>
    <borderSize value="0"/>
    <cornerRadius value="5"/>
    <textPadding value="0"/>
  </Text_Properties>
</settings>