body {
		background-image: none !important;
		background-color: #000 !important;
		color: #EEE;
}

body * {
		background-image: none !important;
		background-color: #000  !important;
		color: #EEE  !important;
}

ul.ui-selectable li.ui-widget-content {		
		background: none;
		background-color: #000;
		color: #EEE;
}

div#open_accessibility {
		background-image: url(../images/accessibilite.png) !important;
}
