body {
		background-image: none !important;
		background-color: #FCF175 !important;
		color: navy;
}

body * {
		background-image: none !important;
		background-color: #FCF175  !important;
		color: navy  !important;
}

div#open_accessibility {
		background-image: url(../images/accessibilite.png) !important;
}
