RewriteEngine on
RewriteRule !(userfiles|public|tmp|temp)/.*\.(js|ico|txt|gif|jpg|jpeg|png|css|xml|swf|mov|pdf|doc|docx|woff|eot|svg|ttf|xls|wsdl|mp3|m4v|ogg)$ index.php [NC,NE]

AddType application/x-javascript .js
AddType text/css .css
AddType application/json .json

<FilesMatch "\.(css|js)($|\?.*$)">
  SetOutputFilter DEFLATE
  Header add "Cache-Control" "max-age=604800, public"
</FilesMatch>

AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header add "Cache-Control" "max-age=604800, public"
</FilesMatch>
