head {
	font-family: Verdana;
    font-size: 20px;
	color: #cccccc;
}

body{
    font-family: Verdana;
    font-size: 16px;
	color: #ffbbdd;
}
a {
	color: #aa0000;
	text-decoration:underline;
}
