<settings>
  <General_Properties>
    <componentWidth value="700"/>
    <componentHeight value="300"/>
    <spacingElements value="5"/>
    <spacingHeads value="5"/>
    <thumbWidth value="100"/>
    <thumbHeight value="100"/>
    <offsetX value="0"/>
    <offsetY value="0"/>
    <position value="left"/>
    <preloader value="assets/preloaders/redsquares.swf"/>
    <assets value="../../../../userfiles/etageres/images.xml"/>
    <showAbout value="false"/>
  </General_Properties>
  <Roll_Over_Properties>
    <rollOverBehaviour value="max"/>
    <brightnessOver value="50"/>
    <brightnessOut value="0"/>
    <brightnessSpeed value="10"/>
    <expandPercent value="30"/>
    <expandDuration value="0.3"/>
  </Roll_Over_Properties>
  <Item_Frame_Properties>
    <frameBorderColor value="0x000000"/>
    <frameBorderWidth value="2"/>
    <frameBorderAlpha value="0"/>
    <frameCornerRadius value="0"/>
  </Item_Frame_Properties>
  <Head_Frame_Properties>
    <headFrameBorderColor value="0x777777"/>
    <headFrameBorderWidth value="2"/>
    <headFrameBorderAlpha value="1"/>
    <headFrameCornerRadius value="5"/>
  </Head_Frame_Properties>
  <Scroll_Properties>
    <onRollOverSpeed value="7"/>
    <stoppingSpeed value="20"/>
  </Scroll_Properties>
  <Tooltip_Properties>
    <position value="followMouse"/>
    <delay value="0.3"/>
    <distance value="3"/>
    <padding value="10"/>
    <cornerRadius value="5"/>
    <appearance value="center"/>
    <easingFunction value="Back"/>
    <easingDuration value="0.3"/>
    <fontFace value="verdana"/>
    <fontSize value="14"/>
    <fontColor value="0x000000"/>
    <backColor value="0xeeeeee"/>
    <backColor2 value="0xeeeeee"/>
    <backAlpha value="1"/>
    <borderColor value="0xaaaaaa"/>
    <borderThickness value="2"/>
    <useArrow value="true"/>
    <arrowPos value="center"/>
    <arrowSize value="10"/>
    <embedFonts value="false"/>
  </Tooltip_Properties>
  <Background_Properties>
    <fillType value="solid"/>
    <backgroundFitting value="repeat"/>
    <backgroundColor1 value="0x0a0a0a"/>
    <backgroundColor2 value="0xff0000"/>
    <backgroundAlpha value="0"/>
    <bgCornerRadius value="0"/>
    <gradientRotation value="30"/>
    <gradientRatio value="40"/>
    <gradientPosX value="0"/>
    <gradientPosY value="0"/>
    <useShade value="false"/>
    <shadeColor value="0x000000"/>
    <shadeAlpha value="1"/>
    <shadeRatio value="40"/>
    <shadeWidth value="0"/>
    <shadeHeight value="0"/>
  </Background_Properties>
  <Shade_Properties>
    <useShade value="false"/>
    <shadeColor value="0x000000"/>
    <shadeAlpha value="1"/>
    <shadeRatio value="40"/>
    <shadeWidth value="0"/>
    <shadeHeight value="0"/>
  </Shade_Properties>
</settings>