<?xml version="1.0" encoding="ISO-8859-1"?>
<settings>
  <General_Properties>
    <galleryWidth value="600"/>
    <galleryHeight value="300"/>
    <columns value="7"/>
    <radius value="100"/>
    <easing value="4"/>
    <enlargeEase value="2"/>
    <pictureDistance value="12"/>
    <minThumbWidth value="60"/>
    <minThumbHeight value="80"/>
    <maxThumbWidth value="150"/>
    <maxThumbHeight value="200"/>
    <backgroundColor value="0"/>
    <maximizeBgColor value="0x000000"/>
    <maximizeBgAlpha value="0.4"/>
    <arrowURL value=""/>
    <maximize value="false"/>
    <pictures value="images.xml"/>
    <style value="../../public/opac/flash/pyramid_gallery/style.css"/>
  </General_Properties>
  <Tooltip_Properties>
    <cornerRadius value="5"/>
    <backgroundAlpha value="0.8"/>
    <backgroundColor value="0xcccccc"/>
    <embedFont value="false"/>
  </Tooltip_Properties>
  <DescriptionText_Properties>
    <backgroundColor value="0x000000"/>
    <backgroundAlpha value="0.5"/>
    <cornerRadius value="5"/>
    <embedFont value="true"/>
  </DescriptionText_Properties>
  <Image_Properties>
    <borderColor value="0xffffff"/>
    <borderAlpha value="0.8"/>
    <borderWidth value="3"/>
  </Image_Properties>
</settings>