head {font-family:Verdana; font-size:20px; color:#ffffff;font-weight: bold}
body {font-family:Verdana; font-size:16px; color:#ffffff;font-weight: bold}
a {color:#ff0000; font-family:Verdana; font-size:30px;}
bluetext {color:#0000ff;}