body.menu
{
	background-color:#f2f2f2;
}
div.menu_section
{
	margin-left:5px;
	margin-top:15px;
	margin-bottom:5px;
	color:#B73901;
	font-weight:bold;
	text-decoration:none;
	font-size:10pt;
}
div.menu_ligne
{
	margin-left:20px;
}
