<settings>
  <General_Properties>
    <componentWidth value="400"/>
    <componentHeight value="300"/>
    <preloader value="assets/redsquares.swf"/>
    <slideShow value="false"/>
    <delay value="3"/>
    <controls value="skin1.xml"/>
    <imageFitting value="bestfit"/>
    <assets value="../../../../temp/etageres/images.xml"/>
    <showAbout value="true"/>
    <scrollIconLink value = "assets/scrollCursorBlack.png"/>
    <closeIconLink value = "assets/closeIconBlack.png"/>
    <urlIconLink value = "assets/goToUrlBlack.png"/>
  </General_Properties>
  <Background_Properties>
    <backgroundColor1 value="0xffffff"/>
    <backgroundAlpha value="1"/>
  </Background_Properties>
  <Scroll_Properties> 
	<clickForScroll value = "true" />
    <useAutoScroll value = "true" />
    <scrollTime value = "1" />
  </Scroll_Properties>
  <Text_Effects>
	<textEff value="transitions/favorites.xml"/>
    <randomTextEff value="true"/>
  </Text_Effects>
  <Loading_Transitions>
	<loadingTrans value="transitions/favorites.xml"/>
    <randomTrans value="true"/>
  </Loading_Transitions>
  <Text_Properties>
    <textEffectDelay value="0"/>
    <bodyTextDelay value="0.71"/>
    <styleSheet value="css/styleSheet.css"/>
    <hPos value="left"/>
    <vPos value="bottom"/>
    <bodyDistance value="14"/>
    <offset value="20"/>
    <width value="0"/>
    <headBgColor value="0x000000"/>
    <bodyBgColor value="0x000000"/>
    <bgAlpha value="0.60"/>
    <borderColor value="0xffffff"/>
    <borderAlpha value="0.12"/>
    <borderWidth value="0.3"/>
    <cornerRadius value="0"/>
    <paddingLeft value="7"/>
    <paddingRight value="7"/>
    <paddingTop value="7"/>
    <paddingBottom value="7"/>
    <embedFonts value="false"/>
  </Text_Properties>
</settings>